.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

body {
  background: #121212;
}

.inner {
  padding: 15px 15px 0;
}

.footer-inner {
  padding: 15px;
}
